@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

.App {
  font-family: 'Manrope', sans-serif;
  padding-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
}

.search-bar {
  margin-bottom: 10px;
}

::placeholder {
  font-weight: lighter;
  color: gainsboro;
}

.search-input {
  width: 80vw;
  padding: 5px 10px;
  border: 0.5px solid gainsboro;
  border-radius: 4px;
  font-size: 0.8rem;
}

.search-input:focus-visible {
  outline: none;
}

.table {
  width: 80vw !important;
  font-size: 0.75rem;
}

th,
tr,
td {
  padding: 8px 0 !important;
}

th {
  font-weight: 800;
}

.xl-cell {
  width: 20%;
  padding-left: 10px !important;
}

.action-icons {
  font-size: 1rem;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: flex-start;
}

.red {
  color: rgb(237, 48, 48);
  cursor: pointer;
}

.blue {
  color: rgb(33, 134, 243);
  cursor: pointer;
}

.row-selected {
  border-radius: 10px !important;
  background-color: rgb(240, 240, 240) !important;
}

button{
  cursor: pointer;
}

.buttons-container {
  width: 80vw;
  display: flex;
  padding: 10px 10px;
  align-items: center;
}

.paginations {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.7rem;
}

.delete-selected-button {
  font-size: 0.7rem;
  min-width: 120px;
  padding: 7px 5px;
  border-radius: 50px;
  border: none;
  background-color: #ec3f73;
  color: white;
  font-weight: 300;
  letter-spacing: 0.6px;
}

.pagination-btn {
  height: 1.7rem;
  width: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border: 0.5px solid #1B9CFC;
  background-color: #1B9CFC !important;
  color: white;
  font-size: 0.7rem;
  border-radius: 50%;
}

button:disabled {
  border: 0.5px solid #CAD3C8;
  background-color: rgb(235, 235, 235) !important;
  color: gray !important;
}

.active-btn {
  background-color: white !important;color: #1B9CFC !important;
}